In [1]:
import pandas as pd
df=pd.read_csv('/content/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df.rename(columns={'SepalLengthCm':"SepLen"},inplace=True)

In [3]:
df

      Id  SepLen  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1     5.1           3.5            1.4           0.2     Iris-setosa
1      2     4.9           3.0            1.4           0.2     Iris-setosa
2      3     4.7           3.2            1.3           0.2     Iris-setosa
3      4     4.6           3.1            1.5           0.2     Iris-setosa
4      5     5.0           3.6            1.4           0.2     Iris-setosa
..   ...     ...           ...            ...           ...             ...
145  146     6.7           3.0            5.2           2.3  Iris-virginica
146  147     6.3           2.5            5.0           1.9  Iris-virginica
147  148     6.5           3.0            5.2           2.0  Iris-virginica
148  149     6.2           3.4            5.4           2.3  Iris-virginica
149  150     5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 6 columns]

In [4]:
df.rename(columns={'SepalWidthCm':'SepWid','PetalLengthCm':'PetLen','PetalWidthCm':'PetWid'},inplace=True)

In [5]:
df

      Id  SepLen  SepWid  PetLen  PetWid         Species
0      1     5.1     3.5     1.4     0.2     Iris-setosa
1      2     4.9     3.0     1.4     0.2     Iris-setosa
2      3     4.7     3.2     1.3     0.2     Iris-setosa
3      4     4.6     3.1     1.5     0.2     Iris-setosa
4      5     5.0     3.6     1.4     0.2     Iris-setosa
..   ...     ...     ...     ...     ...             ...
145  146     6.7     3.0     5.2     2.3  Iris-virginica
146  147     6.3     2.5     5.0     1.9  Iris-virginica
147  148     6.5     3.0     5.2     2.0  Iris-virginica
148  149     6.2     3.4     5.4     2.3  Iris-virginica
149  150     5.9     3.0     5.1     1.8  Iris-virginica

[150 rows x 6 columns]

In [6]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
df['Species'].nunique()

3

In [8]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [9]:
df['SepLen'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [10]:
df['SepLen'].nunique()

35

In [11]:
df.SepLen.value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: SepLen, dtype: int64

In [12]:
df['Species']=='Iris-setosa'

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [13]:
setosa=df[df['Species']=='Iris-setosa']
setosa

    Id  SepLen  SepWid  PetLen  PetWid      Species
0    1     5.1     3.5     1.4     0.2  Iris-setosa
1    2     4.9     3.0     1.4     0.2  Iris-setosa
2    3     4.7     3.2     1.3     0.2  Iris-setosa
3    4     4.6     3.1     1.5     0.2  Iris-setosa
4    5     5.0     3.6     1.4     0.2  Iris-setosa
5    6     5.4     3.9     1.7     0.4  Iris-setosa
6    7     4.6     3.4     1.4     0.3  Iris-setosa
7    8     5.0     3.4     1.5     0.2  Iris-setosa
8    9     4.4     2.9     1.4     0.2  Iris-setosa
9   10     4.9     3.1     1.5     0.1  Iris-setosa
10  11     5.4     3.7     1.5     0.2  Iris-setosa
11  12     4.8     3.4     1.6     0.2  Iris-setosa
12  13     4.8     3.0     1.4     0.1  Iris-setosa
13  14     4.3     3.0     1.1     0.1  Iris-setosa
14  15     5.8     4.0     1.2     0.2  Iris-setosa
15  16     5.7     4.4     1.5     0.4  Iris-setosa
16  17     5.4     3.9     1.3     0.4  Iris-setosa
17  18     5.1     3.5     1.4     0.3  Iris-setosa
18  19     5.7     3.8     1.7     0.3  Iris-setosa
19  20     5.1     3.8     1.5     0.3  Iris-setosa
20  21     5.4     3.4     1.7     0.2  Iris-setosa
21  22     5.1     3.7     1.5     0.4  Iris-setosa
22  23     4.6     3.6     1.0     0.2  Iris-setosa
23  24     5.1     3.3     1.7     0.5  Iris-setosa
24  25     4.8     3.4     1.9     0.2  Iris-setosa
25  26     5.0     3.0     1.6     0.2  Iris-setosa
26  27     5.0     3.4     1.6     0.4  Iris-setosa
27  28     5.2     3.5     1.5     0.2  Iris-setosa
28  29     5.2     3.4     1.4     0.2  Iris-setosa
29  30     4.7     3.2     1.6     0.2  Iris-setosa
30  31     4.8     3.1     1.6     0.2  Iris-setosa
31  32     5.4     3.4     1.5     0.4  Iris-setosa
32  33     5.2     4.1     1.5     0.1  Iris-setosa
33  34     5.5     4.2     1.4     0.2  Iris-setosa
34  35     4.9     3.1     1.5     0.1  Iris-setosa
35  36     5.0     3.2     1.2     0.2  Iris-setosa
36  37     5.5     3.5     1.3     0.2  Iris-setosa
37  38     4.9     3.1     1.5     0.1  Iris-setosa
38  39     4.4     3.0     1.3     0.2  Iris-setosa
39  40     5.1     3.4     1.5     0.2  Iris-setosa
40  41     5.0     3.5     1.3     0.3  Iris-setosa
41  42     4.5     2.3     1.3     0.3  Iris-setosa
42  43     4.4     3.2     1.3     0.2  Iris-setosa
43  44     5.0     3.5     1.6     0.6  Iris-setosa
44  45     5.1     3.8     1.9     0.4  Iris-setosa
45  46     4.8     3.0     1.4     0.3  Iris-setosa
46  47     5.1     3.8     1.6     0.2  Iris-setosa
47  48     4.6     3.2     1.4     0.2  Iris-setosa
48  49     5.3     3.7     1.5     0.2  Iris-setosa
49  50     5.0     3.3     1.4     0.2  Iris-setosa

In [14]:
setosa.shape

(50, 6)

In [15]:
df.describe()

               Id      SepLen      SepWid      PetLen      PetWid
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean    75.500000    5.843333    3.054000    3.758667    1.198667
std     43.445368    0.828066    0.433594    1.764420    0.763161
min      1.000000    4.300000    2.000000    1.000000    0.100000
25%     38.250000    5.100000    2.800000    1.600000    0.300000
50%     75.500000    5.800000    3.000000    4.350000    1.300000
75%    112.750000    6.400000    3.300000    5.100000    1.800000
max    150.000000    7.900000    4.400000    6.900000    2.500000

In [16]:
df.describe(include='object')

            Species
count           150
unique            3
top     Iris-setosa
freq             50

In [17]:
df["SepLen"].min()

4.3

In [18]:
df["SepLen"].max()

7.9

In [19]:
df["SepLen"].mean()

5.843333333333334

In [20]:
df["SepLen"].mode()

0    5.0
Name: SepLen, dtype: float64

In [21]:
df["SepLen"].median()

5.8

In [22]:
df['Species'].mode()

0        Iris-setosa
1    Iris-versicolor
2     Iris-virginica
Name: Species, dtype: object

In [23]:
df['SepLen'].mean()

5.843333333333334

In [27]:
df["SepLen"]>5.843333333333335

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: SepLen, Length: 150, dtype: bool

In [31]:
len(df[df['SepLen']>5.843333333333335])

70

In [32]:
len(df[df['SepLen']>df['SepLen'].mean()])

70

In [33]:
df.quantile(0.25)

<ipython-input-33-29e18f3a7353>:1: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.quantile(0.25)

Id        38.25
SepLen     5.10
SepWid     2.80
PetLen     1.60
PetWid     0.30
Name: 0.25, dtype: float64

In [34]:
df['SepLen'].quantile(0.25)

5.1

In [35]:
df['SepLen'].quantile(0.75)

6.4

In [36]:
df['SepLen']>5.1

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: SepLen, Length: 150, dtype: bool

In [37]:
df[(df['SepLen']>5.1) & (df['SepLen']<6.4)]

      Id  SepLen  SepWid  PetLen  PetWid         Species
5      6     5.4     3.9     1.7     0.4     Iris-setosa
10    11     5.4     3.7     1.5     0.2     Iris-setosa
14    15     5.8     4.0     1.2     0.2     Iris-setosa
15    16     5.7     4.4     1.5     0.4     Iris-setosa
16    17     5.4     3.9     1.3     0.4     Iris-setosa
..   ...     ...     ...     ...     ...             ...
138  139     6.0     3.0     4.8     1.8  Iris-virginica
142  143     5.8     2.7     5.1     1.9  Iris-virginica
146  147     6.3     2.5     5.0     1.9  Iris-virginica
148  149     6.2     3.4     5.4     2.3  Iris-virginica
149  150     5.9     3.0     5.1     1.8  Iris-virginica

[67 rows x 6 columns]

In [39]:

df[(df['SepLen']>df['SepLen'].quantile(0.25)) & (df['SepLen']<df['SepLen'].quantile(0.75))]

      Id  SepLen  SepWid  PetLen  PetWid         Species
5      6     5.4     3.9     1.7     0.4     Iris-setosa
10    11     5.4     3.7     1.5     0.2     Iris-setosa
14    15     5.8     4.0     1.2     0.2     Iris-setosa
15    16     5.7     4.4     1.5     0.4     Iris-setosa
16    17     5.4     3.9     1.3     0.4     Iris-setosa
..   ...     ...     ...     ...     ...             ...
138  139     6.0     3.0     4.8     1.8  Iris-virginica
142  143     5.8     2.7     5.1     1.9  Iris-virginica
146  147     6.3     2.5     5.0     1.9  Iris-virginica
148  149     6.2     3.4     5.4     2.3  Iris-virginica
149  150     5.9     3.0     5.1     1.8  Iris-virginica

[67 rows x 6 columns]

In [42]:
df

      Id  SepLen  SepWid  PetLen  PetWid         Species
0      1     5.1     3.5     1.4     0.2     Iris-setosa
1      2     4.9     3.0     1.4     0.2     Iris-setosa
2      3     4.7     3.2     1.3     0.2     Iris-setosa
3      4     4.6     3.1     1.5     0.2     Iris-setosa
4      5     5.0     3.6     1.4     0.2     Iris-setosa
..   ...     ...     ...     ...     ...             ...
146  147     6.3     2.5     5.0     1.9  Iris-virginica
147  148     6.5     3.0     5.2     2.0  Iris-virginica
148  149     6.2     3.4     5.4     2.3  Iris-virginica
149  150     5.9     3.0     5.1     1.8  Iris-virginica
151  151     3.1     4.5     6.0     3.8  Iris-virginica

[151 rows x 6 columns]

In [40]:
df.loc[151]=[151,3.1,4.5,6.0,3.8,'Iris-virginica']

In [41]:
df.tail()

      Id  SepLen  SepWid  PetLen  PetWid         Species
146  147     6.3     2.5     5.0     1.9  Iris-virginica
147  148     6.5     3.0     5.2     2.0  Iris-virginica
148  149     6.2     3.4     5.4     2.3  Iris-virginica
149  150     5.9     3.0     5.1     1.8  Iris-virginica
151  151     3.1     4.5     6.0     3.8  Iris-virginica

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 151
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       151 non-null    int64
 1   SepLen   151 non-null    float64
 2   SepWid   151 non-null    float64
 3   PetLen   151 non-null    float64
 4   PetWid   151 non-null    float64
 5   Species  151 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 8.3+ KB

In [44]:
df.tail(10)

      Id  SepLen  SepWid  PetLen  PetWid         Species
141  142     6.9     3.1     5.1     2.3  Iris-virginica
142  143     5.8     2.7     5.1     1.9  Iris-virginica
143  144     6.8     3.2     5.9     2.3  Iris-virginica
144  145     6.7     3.3     5.7     2.5  Iris-virginica
145  146     6.7     3.0     5.2     2.3  Iris-virginica
146  147     6.3     2.5     5.0     1.9  Iris-virginica
147  148     6.5     3.0     5.2     2.0  Iris-virginica
148  149     6.2     3.4     5.4     2.3  Iris-virginica
149  150     5.9     3.0     5.1     1.8  Iris-virginica
151  151     3.1     4.5     6.0     3.8  Iris-virginica

In [45]:
df.loc[152]=[152,"3.1","4.5",6.0,3.8,"Iris-virginica"]

In [46]:
df.tail()

      Id SepLen SepWid  PetLen  PetWid         Species
147  148    6.5    3.0     5.2     2.0  Iris-virginica
148  149    6.2    3.4     5.4     2.3  Iris-virginica
149  150    5.9    3.0     5.1     1.8  Iris-virginica
151  151    3.1    4.5     6.0     3.8  Iris-virginica
152  152    3.1    4.5     6.0     3.8  Iris-virginica

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       152 non-null    int64
 1   SepLen   152 non-null    float64
 2   SepWid   152 non-null    object
 3   PetLen   152 non-null    float64
 4   PetWid   152 non-null    float64
 5   Species  152 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 8.3+ KB

In [48]:
df['SepLen']=df['SepLen'].astype('float')

In [49]:
df

      Id  SepLen SepWid  PetLen  PetWid         Species
0      1     5.1    3.5     1.4     0.2     Iris-setosa
1      2     4.9    3.0     1.4     0.2     Iris-setosa
2      3     4.7    3.2     1.3     0.2     Iris-setosa
3      4     4.6    3.1     1.5     0.2     Iris-setosa
4      5     5.0    3.6     1.4     0.2     Iris-setosa
..   ...     ...    ...     ...     ...             ...
147  148     6.5    3.0     5.2     2.0  Iris-virginica
148  149     6.2    3.4     5.4     2.3  Iris-virginica
149  150     5.9    3.0     5.1     1.8  Iris-virginica
151  151     3.1    4.5     6.0     3.8  Iris-virginica
152  152     3.1    4.5     6.0     3.8  Iris-virginica

[152 rows x 6 columns]

In [51]:
df['SepWid']=df['SepWid'].astype('float')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id       152 non-null    int64
 1   SepLen   152 non-null    float64
 2   SepWid   152 non-null    float64
 3   PetLen   152 non-null    float64
 4   PetWid   152 non-null    float64
 5   Species  152 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 8.3+ KB