##### step 1. load the iris.csv dataset.

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [6]:
import pandas as pd
df=pd.read_csv('/content/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [4]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [7]:
### code here
df['SepalLengthCm'].describe()

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: SepalLengthCm, dtype: float64

In [8]:
df['SepalLengthCm'].sum()

876.5

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [9]:
### code here
df=pd.read_csv('/content/Iris.csv',skiprows=range(1,21))
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  21            5.4           3.4            1.7           0.2  Iris-setosa
1  22            5.1           3.7            1.5           0.4  Iris-setosa
2  23            4.6           3.6            1.0           0.2  Iris-setosa
3  24            5.1           3.3            1.7           0.5  Iris-setosa
4  25            4.8           3.4            1.9           0.2  Iris-setosa

##### 4. Write a Pandas program to display the last ten rows.

In [10]:
### code here
df.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
120,141,6.7,3.1,5.6,2.4,Iris-virginica
121,142,6.9,3.1,5.1,2.3,Iris-virginica
122,143,5.8,2.7,5.1,1.9,Iris-virginica
123,144,6.8,3.2,5.9,2.3,Iris-virginica
124,145,6.7,3.3,5.7,2.5,Iris-virginica
125,146,6.7,3.0,5.2,2.3,Iris-virginica
126,147,6.3,2.5,5.0,1.9,Iris-virginica
127,148,6.5,3.0,5.2,2.0,Iris-virginica
128,149,6.2,3.4,5.4,2.3,Iris-virginica
129,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

In [11]:
### code here
subtotal=df.groupby('Species')['PetalLengthCm'].sum()
print(subtotal)

Species
Iris-setosa         44.5
Iris-versicolor    213.0
Iris-virginica     277.6
Name: PetalLengthCm, dtype: float64

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [12]:
### code here
df[df['PetalLengthCm']>2]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
30,51,7.0,3.2,4.7,1.4,Iris-versicolor
31,52,6.4,3.2,4.5,1.5,Iris-versicolor
32,53,6.9,3.1,4.9,1.5,Iris-versicolor
33,54,5.5,2.3,4.0,1.3,Iris-versicolor
34,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
125,146,6.7,3.0,5.2,2.3,Iris-virginica
126,147,6.3,2.5,5.0,1.9,Iris-virginica
127,148,6.5,3.0,5.2,2.0,Iris-virginica
128,149,6.2,3.4,5.4,2.3,Iris-virginica
129,150,5.9,3.0,5.1,1.8,Iris-virginica

###### 7. Write a Pandas program find all records that include two specific Species.

In [19]:
### code here
sp1='Iris-setosa'
sp2='Iris-virginica'
subset=df[df['Species'].isin([sp1,sp2])]
subset.head(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,New Column,Species
22,43,4.4,3.2,1.3,0.2,NaN,Iris-setosa
18,39,4.4,3.0,1.3,0.2,NaN,Iris-setosa
21,42,4.5,2.3,1.3,0.3,NaN,Iris-setosa
2,23,4.6,3.6,1.0,0.2,NaN,Iris-setosa
27,48,4.6,3.2,1.4,0.2,NaN,Iris-setosa
9,30,4.7,3.2,1.6,0.2,NaN,Iris-setosa
4,25,4.8,3.4,1.9,0.2,NaN,Iris-setosa
25,46,4.8,3.0,1.4,0.3,NaN,Iris-setosa
10,31,4.8,3.1,1.6,0.2,NaN,Iris-setosa
14,35,4.9,3.1,1.5,0.1,NaN,Iris-setosa

In [20]:
subset.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,New Column,Species
89,110,7.2,3.6,6.1,2.5,NaN,Iris-virginica
105,126,7.2,3.2,6.0,1.8,NaN,Iris-virginica
87,108,7.3,2.9,6.3,1.8,NaN,Iris-virginica
110,131,7.4,2.8,6.1,1.9,NaN,Iris-virginica
85,106,7.6,3.0,6.6,2.1,NaN,Iris-virginica
115,136,7.7,3.0,6.1,2.3,NaN,Iris-virginica
102,123,7.7,2.8,6.7,2.0,NaN,Iris-virginica
98,119,7.7,2.6,6.9,2.3,NaN,Iris-virginica
97,118,7.7,3.8,6.7,2.2,NaN,Iris-virginica
111,132,7.9,3.8,6.4,2.0,NaN,Iris-virginica

In [21]:
filtered_df = df.loc[(df['Species'] == sp1) | (df['Species'] == sp2)]
filtered_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,New Column,Species
22,43,4.4,3.2,1.3,0.2,NaN,Iris-setosa
18,39,4.4,3.0,1.3,0.2,NaN,Iris-setosa
21,42,4.5,2.3,1.3,0.3,NaN,Iris-setosa
2,23,4.6,3.6,1.0,0.2,NaN,Iris-setosa
27,48,4.6,3.2,1.4,0.2,NaN,Iris-setosa
...,...,...,...,...,...,...,...
115,136,7.7,3.0,6.1,2.3,NaN,Iris-virginica
102,123,7.7,2.8,6.7,2.0,NaN,Iris-virginica
98,119,7.7,2.6,6.9,2.3,NaN,Iris-virginica
97,118,7.7,3.8,6.7,2.2,NaN,Iris-virginica
111,132,7.9,3.8,6.4,2.0,NaN,Iris-virginica

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [14]:
### code here
df=df.sort_values('SepalLengthCm')
df.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
22  43            4.4           3.2            1.3           0.2  Iris-setosa
18  39            4.4           3.0            1.3           0.2  Iris-setosa
21  42            4.5           2.3            1.3           0.3  Iris-setosa
2   23            4.6           3.6            1.0           0.2  Iris-setosa
27  48            4.6           3.2            1.4           0.2  Iris-setosa

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [17]:
### code here
#df.insert(5, 'New Column', value=pd.Series([float('nan')] * len(df)))
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,New Column,Species
22,43,4.4,3.2,1.3,0.2,NaN,Iris-setosa
18,39,4.4,3.0,1.3,0.2,NaN,Iris-setosa
21,42,4.5,2.3,1.3,0.3,NaN,Iris-setosa
2,23,4.6,3.6,1.0,0.2,NaN,Iris-setosa
27,48,4.6,3.2,1.4,0.2,NaN,Iris-setosa
...,...,...,...,...,...,...,...
115,136,7.7,3.0,6.1,2.3,NaN,Iris-virginica
102,123,7.7,2.8,6.7,2.0,NaN,Iris-virginica
98,119,7.7,2.6,6.9,2.3,NaN,Iris-virginica
97,118,7.7,3.8,6.7,2.2,NaN,Iris-virginica
111,132,7.9,3.8,6.4,2.0,NaN,Iris-virginica

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [24]:
### code here
df.loc['Sum'] = df.sum()
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,New Column,Species
102,123,7.7,2.8,6.7,2.0,NaN,Iris-virginica
98,119,7.7,2.6,6.9,2.3,NaN,Iris-virginica
97,118,7.7,3.8,6.7,2.2,NaN,Iris-virginica
111,132,7.9,3.8,6.4,2.0,NaN,Iris-virginica
Sum,33345,2327.4,1165.5,1605.3,525.3,0.0,Iris-setosaIris-setosaIris-setosaIris-setosaIr...