##### import the Diamond dataset

###### 1. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [1]:
### code here
import pandas as pd
df=pd.read_csv('/content/diamonds.csv')
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [2]:
df.shape[0]

53940

In [3]:
df.shape[1]

11

In [4]:
df.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

##### 2. Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.

In [5]:
### code here
df.describe(include='object')

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

###### 3. Write a Pandas program to remove the second column of the diamonds Dataframe. (don't use original dataset)

In [6]:
### code here
df_new=df.drop(df.columns[1],axis=1)

In [7]:
df_new.head()

   Unnamed: 0      cut color clarity  depth  table  price     x     y     z
0           1    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1           2  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2           3     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3           4  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4           5     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

###### 4. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe. (dont use original dataset)

In [8]:
### code here
df_copy=df.copy()
indices_to_remove=[0,2,4,6,8]
df_copy=df_copy.drop(indices_to_remove,axis=0)
df_copy.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

###### 5. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

In [17]:
### code here
sorted_cut=df['cut'].sort_values(ascending=True)
sorted_cut.tail(10)

29197    Very Good
43092    Very Good
16884    Very Good
7404     Very Good
7403     Very Good
7402     Very Good
43101    Very Good
16893    Very Good
16898    Very Good
21164    Very Good
Name: cut, dtype: object

In [21]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

###### 6. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

In [22]:
### code here
sorted_asc=df.sort_values('carat',ascending=True)

In [23]:
sorted_asc

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
31593,31594,0.20,Premium,E,VS2,61.1,59.0,367,3.81,3.78,2.32
31597,31598,0.20,Ideal,D,VS2,61.5,57.0,367,3.81,3.77,2.33
31596,31597,0.20,Premium,F,VS2,62.6,59.0,367,3.73,3.71,2.33
31595,31596,0.20,Ideal,E,VS2,59.7,55.0,367,3.86,3.84,2.30
31594,31595,0.20,Premium,E,VS2,59.7,62.0,367,3.84,3.80,2.28
...,...,...,...,...,...,...,...,...,...,...,...
25999,26000,4.01,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24
25998,25999,4.01,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17
27130,27131,4.13,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43
27630,27631,4.50,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72
27415,27416,5.01,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98

In [24]:
sorted_desc=df.sort_values('carat',ascending=False)

In [25]:
sorted_desc

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
27415,27416,5.01,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98
27630,27631,4.50,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72
27130,27131,4.13,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43
25999,26000,4.01,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24
25998,25999,4.01,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17
...,...,...,...,...,...,...,...,...,...,...,...
31592,31593,0.20,Premium,E,VS2,59.0,60.0,367,3.81,3.78,2.24
31591,31592,0.20,Premium,E,VS2,59.8,62.0,367,3.79,3.77,2.26
31601,31602,0.20,Premium,D,VS2,61.7,60.0,367,3.77,3.72,2.31
14,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
31596,31597,0.20,Premium,F,VS2,62.6,59.0,367,3.73,3.71,2.33

###### 7. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [28]:
#### code here
filtered_df=df[df['carat']==0.3]
filtered_df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
10,11,0.3,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
16,17,0.3,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
17,18,0.3,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70
18,19,0.3,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71
19,20,0.3,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66
...,...,...,...,...,...,...,...,...,...,...,...
53635,53636,0.3,Ideal,I,VVS1,62.1,56.0,552,4.30,4.33,2.68
53636,53637,0.3,Ideal,D,SI1,61.6,57.0,552,4.28,4.32,2.65
53637,53638,0.3,Very Good,D,SI1,62.5,57.0,552,4.26,4.28,2.67
53638,53639,0.3,Ideal,D,SI1,61.0,57.0,552,4.29,4.33,2.63
53639,53640,0.3,Ideal,D,SI1,61.0,56.0,552,4.35,4.37,2.66

###### 8.  Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

In [29]:
### code here 
df[df['depth']>5]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [30]:
filtered_diamonds = df[(df['x'] > 5) & (df['y'] > 5) & (df['z'] > 5)]
filtered_diamonds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11778,11779,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12
13002,13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36
13118,13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23
13562,13563,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04
13757,13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36
...,...,...,...,...,...,...,...,...,...,...,...
27748,27749,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04
27749,27750,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16
48410,48411,0.51,Very Good,E,VS1,61.8,54.7,1970,5.12,5.15,31.80
49189,49190,0.51,Ideal,E,VS1,61.8,55.0,2075,5.15,31.80,5.12
49905,49906,0.50,Very Good,G,VVS1,63.7,58.0,2180,5.01,5.04,5.06

###### 9. Write a Pandas program to calculate the mean of each row of diamonds DataFrame.

In [32]:
### code here
row_means=df.mean(axis=1)
row_means

<ipython-input-32-87ff814ea251>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  row_means=df.mean(axis=1)

0          56.76125
1          57.38125
2          57.82000
3          58.71875
4          59.13125
            ...
53935    7103.31625
53936    7103.48375
53937    7104.17500
53938    7103.98375
53939    7103.78625
Length: 53940, dtype: float64

###### 10. Write a Pandas program to calculate the mean of price for each cut  and find maximum top 3 of diamonds DataFrame.

In [35]:
#### code here
cut_means=df.groupby('cut')['price'].mean()
top_cut=cut_means.nlargest(3)
top_cut

cut
Premium      4584.257704
Fair         4358.757764
Very Good    3981.759891
Name: price, dtype: float64

##### 11. Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

In [36]:
### code here
cut_stats=df.groupby('cut')['price'].agg(['count','min','max'])
cut_stats

           count  min    max
cut
Fair        1610  337  18574
Good        4906  327  18788
Ideal      21551  326  18806
Premium    13791  326  18823
Very Good  12082  336  18818

###### 12. Write a Pandas program to display and count the unique values in cut series of diamonds DataFrame.

In [37]:
### code here
cut_counts=df['cut'].value_counts()

In [38]:
cut_counts

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

######13.  Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [39]:
### code here
missing_values=df.isnull().sum()
missing_values

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

###### 14. Write a Pandas program to calculate the multiply of x, y and z for each cut of diamonds DataFrame.

In [43]:
### code here
cut_products = df.groupby('cut')['x', 'y', 'z'].prod()

cut_products

<ipython-input-43-a9c486296fca>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cut_products = df.groupby('cut')['x', 'y', 'z'].prod()

            x   y    z
cut
Fair      NaN NaN  NaN
Good      NaN NaN  NaN
Ideal     NaN NaN  NaN
Premium   NaN NaN  0.0
Very Good NaN NaN  NaN

##### 15. Write a Pandas program to read rows 0 through 2 (inclusive), columns ‘color’ and ‘price’ of diamonds DataFrame.

In [45]:
## code here
subset=df.loc[0:2,['color','price']]
subset.head()

  color  price
0     E    326
1     E    326
2     E    327

###### 16. Write a Pandas program to read rows in positions 0 and 1, columns in positions 0 and 3 of diamonds DataFrame.

In [47]:
### code here
subset=df.iloc[[0,1],[0,3]]
subset

   Unnamed: 0 color
0           1     E
1           2     E

##### 17. Write a Pandas program to get randomly sample rows from diamonds DataFrame.

In [49]:
### code here
samples=df.sample(n=10)
samples

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
30090,30091,0.32,Premium,H,VS1,60.6,60.0,720,4.44,4.40,2.68
51715,51716,0.70,Very Good,F,SI1,61.3,59.0,2401,5.68,5.74,3.50
4769,4770,1.00,Good,J,SI1,61.7,62.0,3690,6.37,6.40,3.94
42557,42558,0.42,Ideal,F,VVS1,62.0,55.0,1326,4.81,4.84,2.99
28792,28793,0.37,Premium,D,SI1,62.7,58.0,681,4.55,4.58,2.86
32995,32996,0.38,Premium,H,SI1,59.7,60.0,812,4.68,4.66,2.79
35856,35857,0.40,Ideal,D,VS2,60.8,59.0,917,4.71,4.76,2.88
6004,6005,1.01,Good,D,SI2,63.6,61.0,3959,6.35,6.33,4.03
17602,17603,1.21,Ideal,E,SI1,62.3,56.0,7088,6.87,6.81,4.26
23600,23601,1.61,Very Good,H,VS2,59.4,58.0,11627,7.64,7.74,4.57

###### 18. Write a Pandas program to get sample 75% of the diamonds DataFrame's rows without replacement and store the remaining 25% of the rows in another DataFrame.

In [52]:
sample_df=df.sample(frac=0.75,replace=False,random_state=42)
remaining_df=df.loc[~df.index.isin(sample_df.index)]
print(f'Sampled diamonds: {len(sample_df)} rows')
print(f'Remaining diamonds : {len(remaining_df)} rows')

Sampled diamonds: 40455 rows
Remaining diamonds : 13485 rows

###### 19. Write a Pandas program to read the diamonds DataFrame and detect duplicate color.

In [55]:
#### code here
duplicate_colors = df['color'].duplicated(keep=False)

duplicate_rows=df.loc[duplicate_colors,:]
duplicate_rows

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

###### 20. Write a Pandas program to count the duplicate rows of diamonds DataFrame.

In [60]:
duplicate_rows = df.duplicated()
num_duplicates = duplicate_rows.sum()
print(f"There are {num_duplicates} duplicate rows in the diamonds dataset.")

There are 0 duplicate rows in the diamonds dataset.